
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav ul {
    display: flex;
}

nav li a {

    padding: 40px 0;
    line-height: 30px;
    border-bottom: 6px solid transparent;
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
}

nav li:hover {
    border-bottom: 1px solid #11749e;

}

a {
    text-decoration: none;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

span {

}

header {
    padding-top: 18px;
    color: #fff;
    max-width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header_bg {
    background: url('../img/background.jpg') fixed no-repeat center left / cover;

    height: 100vh;
}

h1 {
    font-family: "Gotham Bold", sans-serif;
    padding-top: 0;
    text-transform: uppercase;
    font-size: 29px;
    text-align: center;
    font-weight: bold;

}

h2 {
    font-family: "Times New Roman", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 150px;
    color: #11749e;
    letter-spacing: 20px;
}

h3 {
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;

}

h4 {
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

h5 {
    font-size: 25px;
    text-align: center;
}

h6 {
    font-family: "Gotham Medium", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #11749e;
}

.menu {
    padding-top: 28px;
    font-size: 14px;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menu__item {
    margin-right: 30px;
    font-size: 15px;
    color: white;
}

.logo {

}

.agency {
    text-transform: uppercase;
    background-color: #11749e;
    color: white;
    padding: 100px 0;
    font-size: 12px;
}

.agency h3 {
    padding: 20px;

}

.agency h4 {
    margin-bottom: 20px;
}

.agency img {
    padding: 20px;
}

.left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.right {
    float: right;
    width: 50%;
    overflow: hidden;
}

.news .left, .news .right {
    background-color: #222;
    color: #fff;
    height: 450px;
    overflow: hidden;
}

.news .right {
    background-color: #f3f3f3;
    color: #000;
}

.portfolio img {
    width: 100%;
    height: 100%;
    /*background: url('../img/news-1.jpg') no-repeat;*/
    /*background-size: cover;*/
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;

}

.portfolio .col-md-4, .portfolio .col-12 {
    overflow: hidden;
    padding: 0;
}

/*.news-img2 {*/
/*width: 100%;*/
/*height: 100%;*/
/*!*background: url('../img/news-2.jpg') no-repeat;*!*/
/*!*background-size: cover;*!*/
/*-webkit-transition-duration: 2s;*/
/*-o-transition-duration: 2s;*/
/*-moz-transition-duration: 2s;*/
/*transition-duration: 2s;*/
/*}*/

.portfolio img:hover {
    transform: scale(1.1);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
}

.news-txt {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

.news h2 {
    font-size: 1.5625em;
    margin: 10px 0;
}

.news .date, .news .section {
    display: inline-block;
    font-size: 0.75em;
    font-style: italic;
    margin-right: 10px;
}

.news .section {
    border-left: 1px solid;
    padding-left: 10px;
}

.news p {
    margin-top: 30px;
    line-height: 2;
    height: 210px;
    overflow: hidden;
}

.blog {
    margin-top: 70px;
    margin-bottom: 10px;
}

.action {
    background-color: #11749e;
    padding: 100px 0;
    color: white;
}

.action img {
    margin-right: 30px;
}

.panel {
    background: #11749e;
    color: #fff;
    border-radius: 0;
    display: block;
    padding: 20px 0 20px 20px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;

}

.iphone {
    padding-top: 18px;
    background: url('../img/background2.jpg') fixed no-repeat center top / cover;
    color: #fff;
    max-width: 100%;
    height: 100%;

}

.iphone h5 {
    text-transform: uppercase;
    margin-top: 150px;
}

.iphone img {
    padding: 60px 0 100px 80px;
}

.team {
    margin-left: 29px;
}

.project {
    background: url('../img/background3.jpg') fixed no-repeat center top / cover;
    color: #fff;
    height: 100vh;
    padding: 10px;

}

.project h3 {
    padding: 80px 0;
}

.form2 input {
    /*display: inline-block;*/
    width: 100%;
    /*max-width: 368px;*/
    background: transparent;
    border: 1px solid #ffffff;
    padding: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.project .col-md-4{
    padding: 0;

}

.btn {
    padding: 8px 35px;
}
.message {
    padding: 0;
    width: 100%;
}

.message input {
    display: inline-block;
    height: 200px;
    width: 100%;
    /*max-width: 1167px;*/
    background: transparent;
    border: 1px solid #ffffff;
    padding: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

.btn2 {
    font-family: "Gotham Medium", sans-serif;
    margin: 80px;
    padding: 20px 70px;
    color: white;
    background: transparent;
    border: #fff solid 1px;
    font-size: 24px;
    text-transform: uppercase;
}
.button {
    margin: 0 auto;
}

footer {
    background-color: #222222;
    color: white;
    padding: 20px 0;
}

.f__text {
    text-align: center;
}

.map-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.map {
    background-size: cover;
    width: 100%;
    height: 100%;
    /*padding: 10px;*/
    margin-top: -10px;
    /*-webkit-clip-path: inset(2% 0 2% 0);*/
    clip-path: inset(2% 0 2% 0);
}

.map iframe {
    width: 100%;
}

.ourteam {
    margin-top: -50px;
    margin-bottom: 100px;
    margin-left: 50px;
    background-color: white;
    text-align: center;
    z-index: 1;
    position: relative;
}

.ourteam h4 {
    color: #11749e;
}

.ourteam h4 {
    color: #11749e;
}

@media screen and (max-width: 1200px) {

    .news .left, .news .right {
        height: 350px;
    }

    .news-txt {
        padding-top: 45px;
        padding-bottom: 45px;
    }

}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 30px;
        margin-top: -250px;
    }

    h2 {
        font-size: 20px;
        color: white;
        letter-spacing: 0;
        margin-top: 0;
    }

    .logo {
        display: block;
        margin: 0 auto;
        text-align: left;
    }

    .iphone {
        margin: 0 auto;
        width: auto;
    }

    .form__input {
        margin-right: 0;
        width: 100%;
    }

    .form__btn {
        margin-top: 20px;
        width: 100%;
    }

    .title__text {
        width: auto;
    }

    .blog {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .project h3 {
        padding: 0;
    }
    .btn2 {
        margin: 40px 0;
    }
}
@media screen and (max-width: 650px) {
    .right, .left {
        width: 100%;
    }

    .agency h3 {
        margin-top: 80px;
    }
}

@media screen and (max-width: 576px) {
    .iphone {
        width: 100%;
    }

    nav {
        justify-content: flex-start;

    }

    .menu {
        flex-direction: column;

    }

    .head {
        display: block;
    }

    .menu__item {

        margin-top: 30px;
        font-size: 20px;

    }
    .btn2 {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .news-txt {
        padding-top: 27px;
    }
}
